
.controlUI {

		border: 2px solid #fff;
		border-radius: 3px;
		box-shadow: 0 2px 6px rgba(0,0,0,.3);
		cursor: pointer;
		margin-bottom: 22px;
		text-align:
}

.controlText {
	color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;

}


.search-bar {
	background-color: white;
	padding-top: : 10px;
}

#map {
    width:100%;
}

.menu {
	margin: auto;
    width: 50%;

    padding: 10px;
}

.jumbo-header {
    background: url("../images/header-min.jpg");
    background-size: 100% auto;
    min-height: 230px;
    margin-left: 1px;
    margin-right: 1px;
}



h1 {
    color: white;
    font-size: 80px!important;
    opacity: 1.0;
}

.locations,
.maps {
    margin-top: 10px;

}


.ham {
    font-size: 30px;
}

.footer {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.text-nowrap {
    white-space: nowrap;
}

#over_map {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
}

.rst {
    text-align: center;
    padding-top: 15px;
}

.search {
	margin-left: 25px;

}

.search-box {
	flex-grow: 1;
	height: 50px;
	font-size: 1em;
	padding: 5px 20px;
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
}

.list {
	order: 1;
	flex-grow: 1;

}

.map {
	order: 2;
	flex-grow: 4;

	text-align: center;
	height: 1000px;
}

.results {
	background-color: #fff;
	margin: 0;
	padding: 0;
}


.place {
    margin: 10px;
    padding: 10px;
    list-style: none;

}


@media only screen and (max-device-width : 959px), only screen and (max-width : 959px)  {

.app {
	flex-direction: column;
}


.search-box, .list {
	font-size: 1.5em;
}

}
@media screen and (min-width: 800px) {
    .custom-collapse .collapse {
        display: block;
    }
}
