.info-panel {
    padding: 25px;
}

.info-window-content {
    padding: 20px;
}

.map {
    width: 100%;
}

.locations, .maps {
    margin-top: 10px;
}

.locations {
		background-color: grey;
		border: 1px black solid;
}
.footer {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.text-nowrap {
    white-space: nowrap;
}

.over_map {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}

.search-box {
    margin-left: 25px;
    flex-grow: 1;
    background-color: white;
    height: 50px;
    font-size: 1em;
    padding: 5px 20px;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
}

.list {
    order: 1;
    flex-grow: 1;
}

.map {
    order: 2;
    flex-grow: 4;
    text-align: center;
    height: 500px;
}

.results {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.place {
    margin: 10px;
    padding: 10px;
    list-style: none;
}

@media only screen and (max-device-width: 959px), only screen and (max-width: 959px) {
    .app {
        flex-direction: column;
    }

    .list {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 800px) {
    .custom-collapse .collapse {
        display: block;
    }
}
